.red {
    border: 1px solid red;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    
}
 {
    
}
.nav-link {
    text-decoration: none;
    color: #A9A3A3;
}

.nav-link:hover {
    
    color: #796E6E;
}

.nav-link:active {
    
    color: #000;
}
/* зачеркивает текст в меню */
.overline {
    text-decoration: line-through;
}
/* items в меню посередине */
.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
/* шрифт для записи */
.number {
    font-family: 'Noto Serif', serif;
    font-size: 2em;
    padding-top: 2em;
    text-align: center;
}
/* post style */
.post {
    padding-top: 5em;
}
/* preview style */
.preview {
    border: 1px solid #000;
    height: 25em;
    background-color: rgba(0, 0, 0, 0.4);
}
.preview:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.prev-image1 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("img/1.jpg");
}
.prev-image2 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("img/2.jpg");
}
/* текст поста */
.desc {
    padding-top: .7em;
    padding-left: 0.4em;
    font-size: 1.7em;
}
/* section отступы */
section:last-child {
    padding-bottom: 5em;
}

footer {
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.2em;
    
}
.up {
    background-color: #C4C4C4;
    text-decoration: none;
    color: #696464;
    font-size: 1.1em;
}
.up:hover {
    text-decoration: none;
    color: #696464;
    font-size: 1.1em;
}